<div class="grid-sizer"></div>

{% for block in section.blocks %}
  {% assign image = block.settings.image | img_url: '640x' %}

  {% if forloop.index == 4 %}
    <div class="homepage-block">
      {% include 'social-links' %}
    </div>
  {% endif %}
  {% include 'homepage-block', url: block.settings.url, text: block.settings.text, image: image %}
{% endfor %}

<script>
$(function() {
  $('.homepage-blocks').masonry({
    itemSelector: '.homepage-block',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    gutter: 15,
    horizontalOrder: true
  })
})
</script>

{% schema %}
  {
    "name": "Homepage blocks",
    "class": "homepage-blocks",
    "blocks": [
      {
        "name": "Block",
        "type": "image",
        "settings": [
          {
            "type":      "text",
            "id":        "text",
            "label":     "Label",
            "info":      "Enter a text label"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image", 
            "info": "Upload an image"
          },
          {
            "type":      "text",
            "id":        "url",
            "label":     "Link",
            "info":      "Enter a url to link to from the slide"
          }
        ]
      }
    ]
  }
{% endschema %}