<div class="homepage-slideshow-slides">
  {% for block in section.blocks %}
    <a href="{{block.settings.url}}" class="homepage-slideshow-slide">
      <img class="homepage-slideshow-slide-image" src="{{ block.settings.slide-image | img_url: '1120x450' }}">
    </a>
  {% endfor %}
</div>

 <script>
$(function() {
  var autoplaySpeed = parseInt({{section.settings.slide-speed}}, 10)

  if (isNaN(autoplaySpeed)) {
    autoplaySpeed = 3000
  }

  $('.homepage-slideshow-slides').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: autoplaySpeed,
    dots: true,
    arrows: false
  })
})
</script> 

{% schema %}
  {
    "name": "Homepage banner slideshow",
    "class": "homepage-slideshow",
    "settings": [
      {
        "id": "slide-speed",
        "type": "text",
        "label": "Slide speed",
        "default": "3000",
        "info": "Default pause between slides in milliseconds"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Slide",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "slide-image",
            "label": "Slide image", 
            "info": "Upload an image to be added to the slideshow (image size 1120px x 450px)"
          },
          {
            "type":      "text",
            "id":        "url",
            "label":     "Slide link",
            "info":      "Enter a url to link to from the slide",
            "placeholder": "http://"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Homepage banner slideshow",
        "category": "Images",
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
